#train-table
        td {
            display: inline-block;
            width: 16.575%;
        }

html{
    background: url("https://media.istockphoto.com/photos/white-marble-texture-abstract-background-pattern-with-high-resolution-picture-id622430458")
}
